*
!assets/
!deps/
!hyprland.conf
!README.md
!xdph.conf

!apps/fastfetch/
!apps/ghostty/
!apps/nushell/
!apps/waybar/
!apps/zsh/
!apps/hypridle.conf
!apps/hyprlock.conf
!apps/hyprpaper.conf
!apps/rofi.rasi
!apps/screenshot.sh
!apps/starship.toml
!apps/swaync.css
!apps/swayosd.css
