/dots/.config/btop/btop.log
/dots/.config/hypr/custom/*
!/dots/.config/hypr/custom/amd.conf
!/dots/.config/hypr/custom/nvidia.conf
!/dots/.config/hypr/custom/proton.conf
!/dots/.config/hypr/custom/unreal-engine.conf