apps/*

!apps/nushell/
!apps/waybar/
!apps/zsh/
!apps/ghostty/
!apps/fastfetch/

!apps/nushell/**
!apps/waybar/**
!apps/zsh/**
!apps/ghostty/**
!apps/fastfetch/**

apps/nushell/history.txt

!apps/nushell/**
!apps/waybar/**
!apps/zsh/**
!apps/ghostty/**
!apps/fastfetch/**