* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 11pt;
  font-weight: bold;
  transition-property: background-color;
  transition-duration: 0.5s;
}

#battery, #cpu, #memory, #clock, #bluetooth, #pulseaudio, #tray, #workspaces {
  background-clip: padding-box;
  padding-top: 3px;
}

window#waybar {
  background-color: transparent;
}
window > box {
  margin: 10px;
  margin-right: 2px;
}

#workspaces button {
  background-color: rgba(0, 0, 0, 0)
}

#tray {
  color: rgb(255, 255, 255);
}
#memory {
  color: rgb(255, 255, 255);
}
#cpu {
  color: rgb(255, 255, 255);
}
#clock {
  color: rgb(255, 255, 255);
}
#pulseaudio {
  color: rgb(255, 255, 255);
}
#battery.charging, #battery.full, #battery.discharging {
  color: rgb(255, 255, 255);
}
#battery.critical:not(.charging) {
  color: rgb(242, 143, 173);
}